body {
  font-family: Courier New, Courier, monospace;
}

h1{
  margin: auto;
  width: 25%;
}
.buttons {
  position: absolute;
  left: 40%;
  margin: auto;
  width: 22%;
}

button{
  margin: 10px auto;
}

.player{
  background-color: #ddd;
  border-radius: 10px;
  width: 200px;
  padding: 5px 30px;
  position: absolute;
  top: 15%;
  left: 48%;
}

.dealer{
  background-color: #ddd;
  border-radius: 10px;
  width: 200px;
  padding: 5px 30px;
  position: absolute;
  top: 15%;
  right: 54%;
}